<div class="container topics-index">
  <h1 class="page-title">My Profile</h1>

  <div class="full-width my-bookmarks">
    <h2 class="topic-title red">My Bookmarks</h2>
    <% if !@user_bookmarks.any? %>
      <p class="notes"> You haven't added any bookmarks yet. </p>
    <% end %>
    <% @user_bookmarks.each do |bookmark| %>
      <div class="col-md-4 image-cards">
        <div class="card">
          <div class="card-block">
            <div class="card-img">
              <%= link_to (image_tag bookmark.thumbnail, size: '100', class: 'preview'), bookmark.url, target: '_blank' %>
            </div>
            <div class="buttons center">
              <%= link_to bookmark, method: :delete, class: 'btn btn-delete', data: { confirm: 'Are you sure you want to delete this bookmark?' }  do %>
                <i class="far fa-trash-alt trashcan"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="topic-title liked-bookmarks red">Liked Bookmarks</h2>
  <div class="full-width">
    <% if !@liked_bookmarks.any? %>
      <p class="notes"> You haven't liked any bookmarks yet. </p>
    <% end %>
    <% @liked_bookmarks.each do |bookmark| %>
      <div class="col-md-4 image-cards">
        <div class="card">
          <div class="card-block">
            <div class="card img">
              <%= link_to (image_tag bookmark.thumbnail, size: '100', class: 'preview'), bookmark.url, target: '_blank' %>
            </div>
            <p class="card-text"
              <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
