<div class="landing">
  <div class="markit-circle">
    <h1 class="markit">Markit</h1>
  </div>

  <div class="home-cards">
    <div class="col-md-4 image-cards img-home">
      <div class="card">
        <div class="card-img">
          <i class="fas fa-check-circle fa-5x"></i>
        </div>
        <p class="card-text">Bookmark your favorite websites</p>
      </div>
    </div>
    <div class="col-md-4 image-cards img-home">
      <div class="card">
        <div class="card-img">
          <i class="fas fa-share fa-5x"></i>
        </div>
        <p class="card-text">Share your bookmark lists</p>
      </div>
    </div>
    <div class="col-md-4 image-cards img-home">
      <div class="card">
        <div class="card-img">
          <i class="fas fa-heart fa-5x"></i>
        </div>
        <p div class="card-text">Like other user's bookmarks</p>
      </div>
    </div>
  </div>
</div>
