<div class="jumbotron">
  <h1>MarkIt!</h1>
  <p>An online bookmarking resource.</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Mark</h2>
    <p>Bookmark your favorite websites</p>
  </div>
  <div class="col-md-4">
    <h2>Share</h2>
    <p>Share your bookmark lists</p>
  </div>
  <div class="col-md-4">
    <h2>Like</h2>
    <p>Like and save other user's bookmarks</p>
  </div>
</div>
