<div class="landing">
  <div class="jumbotron homepage col-md-8">
    <h1 class="markit">Markit</h1>
    <p>An online bookmarking resource.</p>
  </div>

  <div class="home-cards col-md-8">
    <div class="col-md-4 image-cards">
      <div class="card">
        <div class="card-block">
          <div class="card-img">
            <i class="fas fa-check-circle fa-5x"></i>
          </div>
          <h4 class="card-text">Bookmark your favorite websites</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 image-cards">
      <div class="card">
        <div class="card-block">
          <div class="card-img">
            <i class="fas fa-share fa-5x"></i>
          </div>
          <h4 class="card-text">Share your bookmark lists</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 image-cards">
      <div class="card">
        <div class="card-block">
          <div class="card-img">
            <i class="fas fa-heart fa-5x"></i>
          </div>
          <h4 div class="card-text">Like and save other user's bookmarks</h4>
        </div>
      </div>
    </div>
  </div>
</div>
