/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


ul {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif!important;
}

a {
  color: #e60023d9;
  font-family: 'Roboto', sans-serif!important;
}

a:hover {
  color: #e60023d9;
}

.nav {
  margin-bottom: 40px;
  border: 0px;
  background-color: #333333;
  width: 100%!important;
  padding-left: 40px;
  padding-right: 40px;
  left: 0;
  right: 0;
}

.nav a, .pull-right a {
  color: #ffff;
  padding-top: 10px!important;
}

.nav .nav-tabs {
  padding-bottom: 0!important;
  border: 0!important;
}
.preview {
  padding-bottom: 5px;
}

.full-width .page-title a {
  color: #333333;
  text-align: left!important;
}

.full-width .page-title {
  text-align: left!important;
}

.topic-title {
  text-align: center;
  color: #333333;
}

.title-show {
  text-align: center;

}

.full-width .page-title a {
  margin-left: 40px;
}

.full-width .page-title {
  padding-top: 30px;
}

.topics-index {
  margin-left: auto!important;
  margin-right: auto!important;
}

.topic-title a {
  color: #ffff;
}

.col-md-10 {
  min-width: 100%;
}

.image-cards {
  padding-bottom: 10px;
  width: 250px;
  height: 250px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card-block {
  width: 251px;
  border: 1px solid #dedbdb;
}

.full-width {
  width: 100%;
  text-align: center;
}

.markit {
  color: #ffff;
  font-size: 100px;
  margin: auto;
  font-family: 'Sofia', cursive;
}

.new-topic {
  margin-left: 10px;
}

.markit-nav a {
  font-family: 'Sofia', cursive!important;
  font-size: 20px;
  margin-top: 5px!important;
  margin-right: 40px!important;
}

.liked-bookmarks {
  text-align: center;
}

.bold {
  background-color: #e60023d9!important;
}

.bold:hover {
  background-color: #a2283bd9!important;
}

.my-bookmarks {
  margin-bottom: 40px;
}

.red {
  color: #e6002399!important;
  padding-bottom: 20px;
}

.nav-tabs li a {
  margin-top: 10px;
}

.nav-tabs li a:hover, .pull-right a:hover {
  color: #e6002399!important;
}

.markit-circle {
  background-color: #e6002399;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.fa-5x {
  margin-top: 40px;
}

.img-home {
  background-color: rgba(255,255,255,1)!important;

}

.homepage {
  margin-top: 50px;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.notes {
  color: #848080;
}

.home-row {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.landing {
  width: 100%!important;
  height: 100%!important;
}

.add-bookmark {
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-cards {
  width: 70%;
  margin-left: 17%;
  margin-right: 13%;
}

.home-cards .image-cards {
  margin-left: 0!important;
}

.home-cards i {
  padding-top: 10px;
  padding-bottom: 25px;
  color: #e6002399;
}

.btn-default {
  background-color: #e6002399;
  border: 2px solid #ffff;
  color: #ffff;
  box-shadow: 0 0 0 1px #e6002399;
}

.btn-default:hover {
  background-color: #a5051d;
  border: 2px solid #ffff;
  color: #ffff;
}

.btns a {
  display: inline;
  float: left;
  margin: 5px;
}

.btns {
  padding-bottom: 50px;
  padding-top: 10px;
  margin-left: 50px;
}

.user-show {
  margin-left: 100px!important;
}

.user-like {
  margin-left: 75px;
}

.center {
  margin-left: 80px;
}

.btn-delete {
  color: #9e9d9d!important;
  background-color: #ffff;
  border: 2px solid #c7c7c7;
}

.btn-delete:hover {
  color: #a5051d;
  background-color: #ddd;
  border: 2px solid #c7c7c7!important;
}

.edit-delete {
  margin-left: 5px;
}

@media (max-width: 421px) {
  .markit-nav a {
    margin-right: 0px!important;
  }
}

@media (max-width: 774px) {
  .pull-right {
    margin-right: 5px;
  }
}

@media (max-width: 453px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .edit-delete {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .markit {
    font-size: 63px!important;
  }
  .markit-circle {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 455px) {
  .img-row {
    margin-left: 10%;
  }
}

@media (min-width: 454px) and (max-width: 550px) {
  .img-row {
    margin-left: 20%;
  }
}

@media (min-width: 551px) and (max-width: 630px) {
  .img-row {
    margin-left: 25%;
  }
}

@media (min-width: 631px) and (max-width: 767px) {
  .img-row {
    margin-left: 30%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .img-row {
    margin-left: 30%;
  }
}

@media (max-width: 991px) {
  .home-cards .image-cards {
    margin: auto!important;
    padding-top: 60px;
  }
  .fa-5x {
    padding-top: 0px!important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-cards {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .img-row {
    margin-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .home-cards {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Devise */
.email, .password, .remember-me {
  margin-top: 10px;
}

.btn input {
  background-color: transparent;
  border: 0px;
}

.login {
  margin-top: 10px;
  background-color: #e60023d9;
}

.cancel {
  margin-top: 10px;
}
