/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


ul {
  list-style: none;
}

body {
  background: #73F7F7;
}

a {
  color: #096B72;
}

.pull-right {
  margin-right: 10px;
}

.nav {
  margin-bottom: 40px;
  border: 0px;
}

.card {
  text-align: center;
  width: 100%;
}

.preview {
  padding-bottom: 5px;
}

.page-title {
  text-align: center;
}

.topic-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.add-bookmark {
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit-delete {
  margin-left: 5px;
}
